.home__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
  font-size: 16px;
  color: white;
  font-weight: 700;
}

.image__div {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.image__div::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.452);
  transition: all 0.3s linear;
  transform: scale(1);
  border-radius: 1.5rem;
}
.image__div:hover::after {
  transform: scale(0);
}

.image__div:hover .images {
  opacity: 0.8;
}
